<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web form</title>
</head>
<body>
    <h1>{{ .title }}</h1>
    <form action="/config" method="post">
        debug: <input type="text" placeholder={{ .debug }} name="debug"/><br/>
        gin_mode: <input type="text" placeholder={{.gin_mode }} name="gin_mode"/><br/>
        port: <input type="text" placeholder={{ .port }} name="port"/><br/>
        management_console_ipaddr: <input type="text" placeholder={{ .management_console_ipaddr }} name="management_console_ipaddr"/><br/>
        api_port: <input type="text" placeholder={{ .api_port }} name="api_port"/><br/>
        api_ipaddr: <input type="text" placeholder={{ .api_ipaddr }} name="api_ipaddr"/><br/>
        templates_path: <input type="text" placeholder={{ .templates_path }} name="templates_path"/><br/>
        <input type="submit"/>
    </form>
</body>
</html>